---
- name: Check if .env file exists
  ansible.builtin.stat:
    path: "{{ playbook_dir }}/../../client-gateway/bot/.env"
  register: env_file

- name: Notify about missing .env file
  ansible.builtin.debug:
    msg:
      "The .env file for the client-gateway bot is missing.
      Please create the file at client-gateway/bot/.env with the necessary environment variables."
  when: not env_file.stat.exists

- name: Build Docker image for client-gateway
  ansible.builtin.shell:
    docker build -t client-gateway .
  when: env_file.stat.exists
  args:
    chdir: "{{ playbook_dir }}/../../client-gateway"

- name: Check for existing client-gateway container
  ansible.builtin.shell:
    docker ps -a --filter "name=client-gateway-bot" --format "{{'{{.Names}}'}}"
  register: existing_container
  changed_when: false

- name: Stop existing client-gateway container
  ansible.builtin.shell:
    docker stop client-gateway-bot || true
  when: existing_container.stdout == "client-gateway-bot"

- name: Remove existing client-gateway container
  ansible.builtin.shell:
    docker rm client-gateway-bot || true
  when: existing_container.stdout == "client-gateway-bot"

- name: Run client-gateway container
  ansible.builtin.shell:
    docker run -d --name client-gateway-bot --env-file bot/.env client-gateway
  when: env_file.stat.exists
  register: run_container
  args:
    chdir: "{{ playbook_dir }}/../../client-gateway"

- name: Display client-gateway container status
  ansible.builtin.debug:
    msg: "Client-gateway container started with ID: {{ run_container.stdout }}"
  when: env_file.stat.exists
