version: "3.9"
services:
  driver-service:
    build: .
    env_file: .env
    ports: ["8000:8000"]
    depends_on: [db, broker]

  db:
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: pass

  broker:
    image: rabbitmq:3