services:
  driver-service:
    build:
      context: ../../
      dockerfile: ./services/driver-service/Dockerfile
    env_file: .env.example
    ports: ["8000:8000"]
    volumes:
      - ../../shared:/app/shared:ro
      - ../../config:/app/config:ro
      - ./src:/app/src  
    depends_on: [db, broker]
    restart: unless-stopped

  db:
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-pass}
    volumes: 
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  broker:
    image: rabbitmq:3
    healthcheck:
      test: ["CMD-SHELL", "rabbitmqctl status"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  db_data: