services:
  driver-service:
    build:
      context: ./driver-service
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      - DB_URL=${DB_URL:-postgresql://user:pass@db:5432/driver_db}
      - BROKER_URL=${BROKER_URL:-amqp://guest:guest@broker:5672}
      - SERVICE_PORT=8000
    depends_on:
      - db
      - broker

  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: driver_db

  broker:
    image: rabbitmq:3-management