---
- name: Deploy Driver Service
  hosts: all
  become: yes
  gather_facts: no

  tasks:
    - name: Install Docker
      apt:
        name: docker.io
        state: present
        update_cache: yes

    - name: Start Docker
      systemd:
        name: docker
        state: started
        enabled: yes

    - name: Install docker-compose
      get_url:
        url: https://github.com/docker/compose/releases/download/v2.27.0/docker-compose-linux-x86_64
        dest: /usr/local/bin/docker-compose
        mode: '0755'

    - name: Copy project
      copy:
        src: ../../..
        dest: /opt/driver-service

    - name: Start service
      command: docker-compose up -d
      args:
        chdir: /opt/driver-service
